{# new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="max-w-7xl mx-auto py-12 mt-10">
    {# <h1 class="text-2xl font-bold mb-8">Inscription Administrative</h1> #}

    {{ include('student/_form.html.twig') }}

</div>
{% endblock %}

